{sub_dirs, ["rel", "apps/riak"]}.

{require_otp_vsn, "20"}.
{cover_enabled, true}.

{lib_dirs, ["apps/riak"]}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{deps, [
        {lager_syslog, {git, "git://github.com/basho/lager_syslog.git", {branch, "develop-3.0"}}},
        {cluster_info, {git, "git://github.com/basho/cluster_info.git", {branch, "develop-3.0"}}},
        {riak_kv, {git, "git://github.com/basho/riak_kv.git", {branch, "develop-3.0-lower"}}},
        {riak_auth_mods, {git, "git://github.com/basho/riak_auth_mods.git", {branch, "develop-3.0"}}},
        {riak_repl, {git, "git://github.com/basho/riak_repl.git", {branch, "develop-3.0-lower"}}},
        {yokozuna, {git, "git://github.com/basho/yokozuna.git", {branch, "develop-3.0"}}}
      ]}.

{project_plugins, [{rebar3_cuttlefish, {git, "https://github.com/martincox/rebar3_cuttlefish", {branch, "disable-cf-relbin-scripts"}}}]}.
{cuttlefish, [{file_name, "riak.conf"}, {schema_discovery, false}, {disable_bin_scripts, true}]}.

{relx, [{release, {riak, "3.0"},
    [kernel,
     stdlib,
     lager,
     sasl,
     public_key,
     ssl,
     exometer_core,
     riak_sysmon,
     os_mon,
     crypto,
     runtime_tools,
     xmerl,
     mochiweb,
     webmachine,
     basho_stats,
     bitcask,
     clique,
     riak_core,
     riak_pipe,
     riak_kv,
     riak_api,
     riak_repl,
     cluster_info,
     yokozuna,
     riak_auth_mods]},

    {dev_mode, false},
    {include_erts, true},

    {overlay_vars, "rel/vars.config"},

    {overlay, [
         {mkdir, "data/ring"},
         {mkdir, "log"},
         {mkdir, "lib/basho-patches"},

         {template, "rel/files/riak.schema", "share/schema/10-riak.schema"},
         {template, "{{lib_dirs}}/cuttlefish/priv/erlang_vm.schema", "share/schema/11-erlang_vm.schema"},
         {template, "{{lib_dirs}}/riak_core/priv/riak_core.schema", "share/schema/12-riak_core.schema"},
         {template, "{{lib_dirs}}/riak_api/priv/riak_api.schema", "share/schema/13-riak_api.schema"},
         {template, "{{lib_dirs}}/riak_kv/priv/riak_kv.schema", "share/schema/14-riak_kv.schema"},
         {template, "{{lib_dirs}}/riak_sysmon/priv/riak_sysmon.schema", "share/schema/15-riak_sysmon.schema"},
         {template, "{{lib_dirs}}/bitcask/priv/bitcask.schema", "share/schema/16-bitcask.schema"},
         {template, "{{lib_dirs}}/bitcask/priv/bitcask_multi.schema", "share/schema/17-bitcask_multi.schema"},
         {template, "{{lib_dirs}}/riak_kv/priv/multi_backend.schema", "share/schema/20-multi_backend.schema"},
         {template, "{{lib_dirs}}/eleveldb/priv/eleveldb.schema", "share/schema/21-leveldb.schema"},
         {template, "{{lib_dirs}}/eleveldb/priv/eleveldb_multi.schema", "share/schema/22-leveldb_multi.schema"},

         {template, "rel/files/advanced.config", "etc/advanced.config"},

         %% Copy additional bin scripts
         {template, "rel/files/riak-admin", "bin/riak-admin"},
         {template, "rel/files/riak-debug", "bin/riak-debug"},
         {template, "rel/files/riak-repl", "bin/riak-repl"},

         {copy, "{{lib_dirs}}/riak/ebin/etop_txt.beam", "lib/basho-patches"}
    ]},

    {generate_start_script, true},
    {extended_start_script, true},
    {extended_start_script_extensions, [
        {admin, "riak-admin"},
        {debug, "riak-debug"},
        {repl, "riak-repl"}
    ]},

    {extended_start_script_hooks, [
        {post_start, [
            {wait_for_process, riak_core_node_watcher}
        ]}
    ]}
]}.

{profiles, [
    {dev, [
        {relx, [
            {dev_mode, true}
        ]}
    ]}
]}.
